### macOS ###
.DS_Store
.AppleDouble
.LSOverride
.idea

*.tar.gz

# helm chart dependencies
charts/*/charts/
**/charts/*.tgz
output

# Vendored charts need to be updated manually with `helm dependency update`
!charts/*/vendor/**/charts/*.tgz
