name: Test Charts

on:
  pull_request:
    branches:
      - main
      - release-1.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:

  test-chart:
    # Aligning job name with the OpenShift CI config: https://github.com/openshift/release/blob/master/core-services/prow/02_config/redhat-developer/rhdh-chart/_prowconfig.yaml#L18
    name: Test Latest Release
    runs-on: ubuntu-latest
    # Make CI for PRs more stable by using the latest stable/RC RHDH image.
    # We have a workflow that tests the unstable 'next' image tag on a nightly basis.
    # Image repository and tag can be configured via GitHub repository variables.
    env:
      RHDH_IMAGE_REPOSITORY: ${{ vars.RHDH_IMAGE_REPOSITORY || 'rhdh/rhdh-hub-rhel9' }}
      RHDH_IMAGE_TAG: ${{ vars.RHDH_IMAGE_TAG || 'latest' }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Test charts
        uses: ./.github/actions/test-charts
        with:
          target_branch: ${{ github.event.pull_request.base.ref }}
          # The RHDH image tag is already pinned to a specific version for the 'release-1.y' branches.
          extra_helm_args: ${{ github.event.pull_request.base.ref == 'main' && format('--set upstream.backstage.image.repository={0} --set upstream.backstage.image.tag={1}', env.RHDH_IMAGE_REPOSITORY, env.RHDH_IMAGE_TAG) || '' }}
